    
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
    body{

        background: rgb(99, 99, 99);

    }

    .wrapper{
        display: flex;
        height: 100vh;
        width: 100vw;
        justify-content: center;
        align-items: center;

    }

    .cal-wrap{
        display: flex;
        flex-direction: column;
        justify-content:space-around;
        align-items:center;
        background: rgb(0, 0, 0);
        width: 320px;
        height: 590px;
       
       
    }
   
    .screen{
        width: 270px;
        height: 10vh;
        background: rgb(0, 0, 0);
        margin-top: 10px;
        justify-content: center;
       
    }
    .disp:focus{
        outline: none;
    }
    .disp{
        border: none;
        background: black;
        width: 260px;
        height: 10vh;
        padding: 10px;
        font-size: 60px;
        text-align:right ;
        color: white;
    }

    button{
        border-radius: 50px;
        font-size: 30px;
    }

    .but-sym{
        display: grid;
        grid-template-columns: repeat(4,58px);
        grid-template-rows: repeat(5,58px);
        align-content: center;
        justify-content: center;
        gap: 10px;
        width: 250px;
    }

    .span-two{
        grid-column: span 2;
    }

    .but-sym > button{
        outline: none;
        background: rgba(83, 83, 83, 0.781);
        color: white;
        border: none;

    }

    .but-sym > button:hover{
        background: white;
        color: black;
        transform: scale(1.07);
    }


     .but-sym  button:nth-child(1){
        background: rgba(177, 72, 72, 0.925);
        font-size: 20px !important;
    }
    .but-sym  button:nth-child(2){
        font-size: 20px !important;
    }
    .but-sym  button:last-child{
        background: rgb(56, 133, 67);
    }
    .but-sym button:nth-child(4n+3){
        background: orange;
    }

    @media only screen and (max-width:850px){

        

        body{
            height: 100vh;
            width: 100vw;
            overflow: hidden;

        }

        .cal-wrap{
            height: 100vh;
            width: 100vw;
        }

        .wrapper{
            width: 100vw;
            height: 100vh;
        }


    }

